@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wave {
  background-image: url(./assets/wave.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%; 
  background-size: cover;
  height: 22vh;
  position: relative;
  margin-top: -1px;
  z-index: 20;
}

.m1{
  margin-top: -1px;
}

.bg-home{
  background-image: url(./assets/bgHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  width: 110%;
  left: -10px;
  margin-top: -350px;
  position: fixed;
}

.hola::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
  
  
